@import (css) url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal_div {
    display: flex;
    justify-content: center;
    height: 328px;
    width: 355px;
    background-color: #1705242b;
}

.heading_div {
    height: 115px;
    width: 400px;
}

.welcome_heading {
    display: flex;
    justify-content: center;
    height: 35px;
    width: 400px;
    margin: 40px 0px;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
}

.input_div {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 210px;
    width: 350px;
    margin: auto;
    background-color: white;
}

.password_input {
    margin: 40px auto;
    height: 35px;
    width: 300px;
    border: 1px solid #ccc;
    padding: 12px 20px;
    color: rgb(85, 57, 119);
    outline: none;
}

.confirm_button {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background: #4CAF50;
    color: white;
    border: none;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    height: 35px;
    width: 120px;
}

.confirm_button:hover {
    background-color: rgb(16, 143, 16);;
    scale: 1.02;
}
